.setting__button {
    overflow: hidden;
    margin: 20px 0 0 20px;
    width: 40px;
    height: 40px;
    background-image: url(../../../image/settings.png);
    background-color: transparent;
    background-size: cover;
    border: none;
    transition: all .4s ease-out;
    
}

.setting__button:hover {
    cursor: pointer;
    transform: scale(1.2);

}