.page{
    margin: 0 auto;
    color: #fff;
    overflow-y: hidden;
    background-image: url(../../image/main.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 103vh;
    background-position: top center;
}