.page{
    margin: 0 auto;
    color: #fff;
    overflow-y: hidden;
    background-image: url(bdb1c6ab2845d293d63a.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 103vh;
    background-position: top center;
}
.header{
    margin: 0 auto;
    height: 120px;
    /* background: linear-gradient(to top, rgb(2, 16, 42) 20%, rgb(31,142,211) 30%, #000 90%,#000 100%); */
    background-color: transparent;
    
}

.header__title {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
}
.setting {
    margin: 0;
}
.setting__button {
    overflow: hidden;
    margin: 20px 0 0 20px;
    width: 40px;
    height: 40px;
    background-image: url(6ab2928ac1b9d9ca50cf.png);
    background-color: transparent;
    background-size: cover;
    border: none;
    transition: all .4s ease-out;
    
}

.setting__button:hover {
    cursor: pointer;
    transform: scale(1.2);

}
.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}





input[type='range'] {
    overflow: hidden;
    width: 90%;
    -webkit-appearance: none;
    background-color: #ffe608;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -800px 0 0 800px #435ef7;
}

input[type="range"]::-moz-range-progress {
    background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
    background-color: #fc0505;
}
input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
    background-color: #9a905d;
}
.game {
    display: grid;
    justify-content: center;
    grid-template-areas:
        "question question"
        "hint hint"
        "answer button"
        "speed-1 .";
}
.question {
    grid-area: question;
    width: 100%;
    margin: 0;
    padding: 0 0 0 0;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 400ms ease-in-out;
    z-index: 1;
}
.hint {
    grid-area: hint;
    margin: 0;
    padding: 0 0 0 0;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(255, 230, 0);
    transition: opacity 400ms ease-in-out;
    z-index: 1;
}

.hint:hover {
    opacity: 1;
}
.answer {
    grid-area: answer;
    box-sizing: border-box;
    margin: 20px 0 20px 20%;
    height: 70px;
    width: 60%;
    box-shadow: rgb(80, 91, 252) 0px 0px 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: box-shadow .4s ease-in-out;
}

.answer::before {
    box-sizing: border-box;
    border: none;
}

.answer::after {
    box-sizing: border-box;
    border: none;
}

.answer::placeholder {
    color: #ececec;
    opacity: 0.1;
}
.answer:focus {
    box-shadow: rgb(80, 252, 166) 0px 0px 20px;
    border-color: transparent;
    border: none;
}
.check-button {
    grid-area: button;
    overflow: hidden;
    margin: 0;
    margin: 35px 0 0 -60px;
    width: 40px;
    height: 40px;
    background: url(2695b61c39395aa61277.png);
    background-size: contain;
    border: none;
    transition: all .4s ease-out;
    box-shadow: none;
    justify-self: start;

}

.check-button:hover {
    cursor: pointer;
    transform: scale(1.2);

}
.progress__speed {
    margin: 100px 140px 0 -40px;
    grid-area: speed-1;
}
/* вопрос */
/* подсказка */
/* ответ */
/* кнопка */

circle {
    fill: white;
    z-index: 1;
}
textPath {
    fill: white;
    z-index: 1;
}
text {
    fill:#FFF;
    z-index: 1;
}
circle {
    fill: white;
    z-index: 1;
}
.arrow {
    fill:red;
    transform-origin: 0 0px;
    transition: 0.8s linear;
    transform: rotate(-103deg);
    z-index: 1;
    /* 93 */
}

.frequency {
    z-index: 0;
    fill:rgba(0, 0, 0, 0.3);
    color: aqua;
    stroke-dasharray: 10 55;
    stroke-dashoffset: -54;
}
