.check-button {
    background: #7f5af0;
    width: 200px;
    height: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fffffe;
    margin: 0;

}

.check-button:hover {
    cursor: pointer;
}